/* stylelint-disable no-duplicate-selectors */

/* || General */

:root {
  --button-bg: #06f;
  --button-bg-hover: #005ce6;
  --button-bg-active: #004cbf;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  touch-action: manipulation; /* Disables double tap on touch devices (to zoom) */
}

html {
  font: 62.5%/1.5 Helvetica, Arial, sans-serif;
}

body {
  font-size: 1.6rem;
}

/* || Layout */

.form,
.list-item,
.left-box {
  display: flex;
  align-items: center;
}

.form {
  flex-flow: column nowrap;
}

button {
  flex: 1;
}

.list-item {
  justify-content: space-between;
}

/* || Box model */

header,
.list {
  max-inline-size: 992px;
}

header,
.list,
.form {
  margin: 0 auto;
}

header p {
  padding: 1em;
}

.form {
  inline-size: 95%;
  max-inline-size: 576px;
}

input[type="text"] {
  inline-size: inherit;
  max-inline-size: 768px;
  padding: 1em .5em;
}

button {
  inline-size: inherit;
  margin-block: 1em;
  padding: 1em 2em;
}

button i {
  padding-inline-end: .5rem;
}

.list {
  padding: 0;
}

.list-item {
  padding: 1em;
  margin: .5em 1em;
}

#checkbox {
  inline-size: 1.8rem;
  block-size: 1.8rem;
}

#checkbox, 
.fa-trash {
  margin: 0 1.2em 0 .5em;
}

/* || Typography */

header p {
  font-size: 1.8rem;
  text-align: left;
  font-weight: bold;
  letter-spacing: .1rem;
}

button {
  font-size: inherit;
}

.list-item {
  text-align: initial;
}

/* || Colour and graphics */

.list {
  list-style: none;
}

.list-item {
  background-color: #eee; 
}

#checkbox, 
.fa-trash {
  cursor: pointer;
}

#checkbox:checked + label {
  color: #969696;
  text-decoration: line-through;
}

.fa-trash:hover {
  color: #db5461;
}

button {
  background-color: var(--button-bg);
  color: #fff;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

button:hover {
  background-color: var(--button-bg-hover);
}

button:active {
  background-color: var(--button-bg-active);
}